@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.container {
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

/* ?HEADER */

header {
  margin-top: 30px;
  margin-bottom: 30px;
}

.social {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  a {
    color: white;
    text-decoration: none;
  }
}

.social_number {
  text-align: left;
}

.social_number__num {
  font-weight: 500;
  cursor: pointer;
}

.social_name {
  text-align: center;
}

.social_name__title {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
}

.social_name__subtitle {
  text-transform: uppercase;
}

.social_email {
  text-align: left;
}

.social_number__email {
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

/* ?WELCOME */
.welcome {
  text-align: center;
  padding: 200px 0 210px 0;
  margin-top: -110px;

  background-color: #292b37;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://avatars.mds.yandex.net/i?id=4d5df68c44f6a9096d1370e63b566973_l-5235770-images-thumbs&n=13");
  background-size: cover;
  background-position: center;
}

.weclome__title {
  font-size: 60px;
  font-weight: 900;
  line-height: 120%;
  text-align: center;
  color: white;
}

.welcome__btn {
  padding: 22px 36px;
  border-radius: 10px;
  background-color: #f4df74;
  margin-top: 50px;
  font-size: 19px;
  font-weight: 500;
}

/* ?CONTENT */
.content {
  margin-bottom: 280px;
}

.container {
  padding: 0;
}

.content_title,
.work_title {
  margin-top: 120px;
  font-size: 48px;
  font-weight: 700;
  line-height: 110%;
  text-align: center;
}
.content_descr,
.work_descr {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  padding: 80px 200px;
}

.content_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.content_card {
  margin: 14px;
  padding-bottom: 28px;
}

.content_card__img {
  width: 350px;
  height: 350px;
  border-radius: 6px;
  object-fit: cover;
  padding-bottom: 15px;
}

.descr_text {
  display: block;
  font-size: 24px;
}

.descr_price {
  font-size: 18px;
  line-height: 120%;
  text-align: center;
}

/* ?WORK */
.work {
  background-color: #eeeeee;
}

.work_img {
  margin-top: -175px;
}

.work_cards {
  display: flex;
  justify-content: space-around;
  padding-bottom: 130px;
}

.word_card {
  width: 350px;
}

.work_card__img {
  width: 100%;
  height: 210px;
  border-radius: 6px;
  object-fit: cover;
  padding-bottom: 15px;
}

.work_card__title {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin: 20px 0;
}

.work_card__text {
  width: 100%;
  text-align: center;
  padding: 0 10px;
}

/* ?FOOTER */

footer {
  background-color: #191919;
  padding: 60px 0 40px 0;
  text-align: center;
}
